
body{
	background-color: limegreen;
}

h1{
	color: red;
	font-size: 1.9em
}
h2{
	color: magenta;
	font-size: 1.5em
}

ul{
	color: blue;
	font-size: 1.3em;
}

li{
	color: blue;
	font-size: 1.3em
}

img{
	width: 250px
}


